@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Odibee+Sans&display=swap");

body {
  font-family: "Odibee Sans", cursive;
  background-color: linen;
  color: darkblue;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Lobster", cursive;
}

#avb {
  color: red;
}

ul {
  list-style: none;
}
